@import 'materialize-css/sass/materialize';
@import 'components/fonts';
@import 'components/gradients';
@import 'components/colors';

main {
  background: #ddd;
}
nav {
  background: transparent;
  .img-responsive {
    max-width: 100%;
    height: 50px;
    margin-top: 10px;
  }
}
.cover {
  .valign-wrapper {
    height: 450px;
    h2 {
      margin: 0!important;
      width: 100%!important;
      @extend .teal-text;
      text-shadow: 2px 2px 5px #333;
    }
  }
  .bizgo-title__big {
    font-size: 8rem;
  }
}