section.container-fluid.cover
      div.row
        div.col.s12.m6
          div.valign-wrapper
            h2.valign.lobster.center-align.bizgo-title__big
              | ¡Descubre
              | mas! 