section.container-fluid.cover
      div.row
        div.col.s12.m6
          div.main-flex
            h2.valign.lobster.center-align.bizgo-title__big
              | Encuentra tu lugar
              | ideal
        div.col.s12.m6
          div.main-flex.cover-image
            img(src="assets/tour.png", alt="tour-bizgo")