div.navbar-fixed
      nav
        div.container
          div.row
            div.col.s12.m12
              div.nav-wrapper
                a(href="#" class="brand-logo")
                  img(src="assets/pre_design_transparent.png" class="img-responsive")
                ul.right
                  li
                    a(href="#") Inicio
                  li
                    a(href="#") Equipo
                  li
                    a(href="#") FAQ