section.container-fluid.product-description
    div.row
        div.col.s12.m6
            div.bizgo-phone-description
                div.bizgo-phone
                    img(src="assets/hand_bizgo.png", alt="")
        div.col.s12.m6
            div.bizgo-phone-description
                div.valign-wrapper
                    p Encuentra ese producto que tanto anhelas.